<html>
    <head>
        <title>Hackasaurus</title>
    </head>
    <style type = "text/css">
    body {
    background-image: url("images/grassy_field.jpg");
    }
    </style>
    <body>
    <form method="POST">
        <style>
        .form_style
        {
        margin: 250 auto;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        }
        </style>
        <div class ="form_style">
          <input name="text">
          <input type="submit", value="Feed Me">
        </div>
    </form>
    </body>
</html>
